.panel {
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: var(--BG);
  gap: 1vh;
}

.panel p {
  font-size: 2vh;
  color: var(--WHITE);
}

.panel .logo {
  width: 15vh;
  height: 15vh;
  object-fit: contain;
}
